<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viana Labs</title>
</head>

<body>

    <h1>Welcome to Viana Labs</h1>

    <h2>Empowering Your Digital Presence</h2>

    <p class="principal">
        At Viana Labs, we specialize in creating modern, responsive, and customized websites for businesses of all sizes.
        Our mission is to help you stand out in the digital world with innovative and effective solutions.
    </p>

</body>
</html>
